* {
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrapper__header {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #999999;
    display: flex;
    justify-content: left;
    align-items: center;
}

.wrapper__header .title {
    color: #55b2d4;
    padding-left: 30px;
}

.wrapper__header .subtitle {
    font-size: small;
    padding-left: 5px;
}

.wrapper__word {
    width: 222px;
    height: 168px;
    border: 1px solid gray;
    background-color: #f6f6f6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper__word__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper__word__header .title {
    font-size: 11px;
    padding-top: 5px;
}

.wrapper__word__header .wordtitle {
    font-size: 10px;
    padding-top: 5px;
    color: #999999;
}

.wrapper__word__body {}

.wrapper__word__footer {
    font-size: 11px;
    font-weight: bold;
    color: #999999;
}

.wrapper__lotto {
    width: 222px;
    height: 168px;
    border: 1px solid gray;
    background-color: #f6f6f6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.wrapper__lotto__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.wrapper__lotto__header .title {
    font-size: 11px;
    font-weight: bold;
}

.wrapper__lotto__header .do__button {
    font-size: 10px;
    padding-top: 5px;
    color: #999999;
}

.wrapper__lotto__body {}

.wrapper__lotto__body .button__display {
    font-size: 10px;
    border: 1px solid;
    width: 130px;
    height: 21px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.wrapper__lotto__footer {}

.wrapper__lotto__footer .button {}